/* ### banner box ### */
.bannerBox { padding: 255px 0 0; position: relative; width: 100%; background: #fff url(../images/banner-bg.jpg) right top repeat-y; background-size: 100% auto; }
.bannerBox__title { font-weight: 700; font-size: 70px; line-height: 106.2%; color: #17B5B5; }

.bannerBox__left { position: absolute; left: 50%; top: 0; padding-top: 215px; margin-left: -760px; width: 720px; height: 100%; }
.bannerBox__left::after { content: ""; position: absolute; left: 0; bottom: -85px; height: 218px; width: 85px; background: url(../images/banner-side-pattern.png) center center no-repeat; z-index: 1; }
.bannerBox__right { margin: 0 -250px -10px auto; width: 1427px; position: relative; }
.bannerBox__mask { position: absolute; left: -1px; top: -1px; width: 100%; z-index: 1; }
.bannerBox__right .bannerBox__slider-item img { -webkit-clip-path: path("M414.635 48.8382L16.958 742.224C-19.9732 806.617 26.5139 886.869 100.746 886.869H1325.72C1400.07 886.869 1446.55 806.386 1409.38 741.993L1009.38 49.0075C981.753 1.14104 919.668 -13.8257 873.263 16.1936L756.654 91.6279C730.364 108.635 696.568 108.741 670.171 91.8992L550.377 15.4655C503.898 -14.1901 442.065 1.01164 414.635 48.8382Z"); clip-path: path("M414.635 48.8382L16.958 742.224C-19.9732 806.617 26.5139 886.869 100.746 886.869H1325.72C1400.07 886.869 1446.55 806.386 1409.38 741.993L1009.38 49.0075C981.753 1.14104 919.668 -13.8257 873.263 16.1936L756.654 91.6279C730.364 108.635 696.568 108.741 670.171 91.8992L550.377 15.4655C503.898 -14.1901 442.065 1.01164 414.635 48.8382Z"); width: 1427px; height: 895px; }

.bannerBox__slider { position: relative; margin-bottom: 0 !important; z-index: 0; }
.bannerBox__slider::after { content: ""; position: absolute; left: 50%; top: 50%; height: 1195px; border-radius: 50%; width: 1195px; transform: translate(-50%, -50%); background: #FF4A55; z-index: -1; }
.bannerBox__slider .slick-dots { display: flex; align-items: center; bottom: auto; left: -550px; top: 46%; width: auto; z-index: 2; }
.bannerBox__slider .slick-dots li { margin: 0 61px 0 0; height: auto; width: auto; }
.bannerBox__slider .slick-dots li button { color: #FFA6AB; height: auto; width: auto; }
.bannerBox__slider .slick-dots li button:before { position: static; font-family: 'icomoon' !important; color: #FFA6AB; speak: none; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; font-size: 20px; line-height: 1; opacity: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; content: "\e909"; }
.bannerBox__slider .slick-dots li:first-child button::before { content: "\e90a"; font-size: 30px; }
.bannerBox__slider .slick-dots li:nth-child(3n) button::before { content: "\e90b"; font-size: 30px; }
.bannerBox__slider .slick-dots li.slick-active button::before { color: #FF4A55; }
.myVideoBanner { display: none; }

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (max-width: 1560px) {
    .bannerBox { padding-top: 240px; }
    .bannerBox__left { margin-left: -618px; width: 560px; }
    .bannerBox__right { margin-right: -120px; width: 1082px; }
    .bannerBox__right .bannerBox__slider-item img {  -webkit-clip-path: path("M333.811 61.364L57.192 543.673C31.7313 588.066 63.7798 643.393 114.956 643.393H966.677C1017.93 643.393 1049.97 587.907 1024.35 543.514L746.117 61.4808C727.069 28.4812 684.268 18.163 652.276 38.8585L578.76 86.416C555.756 101.297 526.185 101.39 503.087 86.6533L427.392 38.3566C395.349 17.9118 352.721 28.392 333.811 61.364Z");  clip-path: path("M333.811 61.364L57.192 543.673C31.7313 588.066 63.7798 643.393 114.956 643.393H966.677C1017.93 643.393 1049.97 587.907 1024.35 543.514L746.117 61.4808C727.069 28.4812 684.268 18.163 652.276 38.8585L578.76 86.416C555.756 101.297 526.185 101.39 503.087 86.6533L427.392 38.3566C395.349 17.9118 352.721 28.392 333.811 61.364Z");  width: 1082px; height: 643px; }
    .bannerBox__slider .slick-dots { left: -380px; top: 66%; }
    .bannerBox__slider::after { left: 57%; height: 860px; width: 860px; }
}

@media only screen and (max-width: 1439px) {
    .bannerBox__left { margin-left: -540px; }
    .bannerBox__right { margin-right: -300px; width: 1082px; }
    .bannerBox { padding-top: 240px; }
    .bannerBox__slider .slick-dots { left: -400px; top: 65%; }
}

@media only screen and (max-width: 1109px) {
    .bannerBox { padding-top: 90px; }
    .bannerBox__title { font-size: 30px; }
    .bannerBox__left { margin-left: -335px; width: 300px; padding-top: 130px; }
    .bannerBox__left::after { display: none; }
    .bannerBox__right { width: 452px; margin-right: 0; }
    .bannerBox__right .bannerBox__slider-item img {  -webkit-clip-path: path("M147.446 26.9309L25.5192 239.521C14.1961 259.264 28.449 283.869 51.2082 283.869H426.783C449.578 283.869 463.827 259.193 452.431 239.45L329.794 26.9829C321.323 12.3071 302.288 7.71837 288.06 16.9222L252.308 40.0502C244.248 45.2646 233.886 45.2971 225.793 40.1333L189.064 16.699C174.814 7.60665 155.856 12.2674 147.446 26.9309Z");  clip-path: path("M147.446 26.9309L25.5192 239.521C14.1961 259.264 28.449 283.869 51.2082 283.869H426.783C449.578 283.869 463.827 259.193 452.431 239.45L329.794 26.9829C321.323 12.3071 302.288 7.71837 288.06 16.9222L252.308 40.0502C244.248 45.2646 233.886 45.2971 225.793 40.1333L189.064 16.699C174.814 7.60665 155.856 12.2674 147.446 26.9309Z");  width: 452px; height: 284px; }

    .bannerBox__slider .slick-dots { top: 70%; left: -270px; }
    .bannerBox__slider .slick-dots li:nth-child(3n) button::before,
    .bannerBox__slider .slick-dots li:first-child button::before,
    .bannerBox__slider .slick-dots li button:before { font-size: 12px; }
    .bannerBox__slider .slick-dots li { margin-right: 17px; }
    .bannerBox__slider::after { height: 535px; width: 535px; left: 80%; }

}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
    .bannerBox { padding-top: 170px; }
    .bannerBox__right { margin: 0 auto; width: 414px; }
    .bannerBox__right .bannerBox__slider-item img { -webkit-clip-path: path("M99.243 32.6232L-48.4549 290.148C-62.1712 314.063 -44.9059 343.869 -17.3361 343.869H437.622C465.236 343.869 482.496 313.978 468.691 290.062L320.133 32.6861C309.871 14.9084 286.813 9.34975 269.578 20.4989L226.269 48.5154C216.505 54.832 203.953 54.8713 194.149 48.6161L149.658 20.2286C132.395 9.21443 109.431 14.8604 99.243 32.6232Z"); clip-path: path("M99.243 32.6232L-48.4549 290.148C-62.1712 314.063 -44.9059 343.869 -17.3361 343.869H437.622C465.236 343.869 482.496 313.978 468.691 290.062L320.133 32.6861C309.871 14.9084 286.813 9.34975 269.578 20.4989L226.269 48.5154C216.505 54.832 203.953 54.8713 194.149 48.6161L149.658 20.2286C132.395 9.21443 109.431 14.8604 99.243 32.6232Z"); width: 414px; height: 260px; }
    .bannerBox__left { margin: 0; z-index: 0; padding: 60px 0 0; left: auto; top: auto; width: 100%; position: relative; background: #17B5B5 url(../images/banner-bg.png) right top repeat-y; }
    .bannerBox__left:after { display: block; content: ""; position: absolute; left: 0; bottom: 0; height: 205px; width: 100%; background: #fff; z-index: -1; }
    .bannerBox__title { padding: 0 30px 30px; color: #fff; }
    .myVideoBanner { margin: 10px auto 0; display: block; border-radius: 50%; overflow: hidden; position: relative; height: 411px; width: 411px; }
    .myVideoBanner video { position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); min-width: 100%;  min-height: 100%; }
    .bannerBox__slider::after { left: 50%; top: 80%; width: 551px; height: 551px; }
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 480px) {
}